@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100..900&family=Kiwi+Maru&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

:root {
    --cor-de-fundo: #F57536;
    --cor-fonte-destaque: #3C0A6D;
}

body {
    background-color: var(--cor-de-fundo);
}

.principal {
    height: 100vh;
    background-image: url("fotos/fundo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: Indie Flower;
    font-style: normal;
    font-weight: 400;
    color: var(--cor-fonte-destaque);
    margin-top: 20%;
    font-size: 4.5rem;
    text-align: center;
}

.informacoes {
    text-align: center;
}

.lista_item {
    font-family: Kodchasan;
    background-color: #3C0A6D;
    color: white;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}