<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/css/perfilPasseador.css">
</head>
<body>

    
   <div class="base">
        <div class="retanguloInfo"> 
            <ul class="infoCima">
                <li>
                   4,75
                </li>
                <li>
                    35
                </li>
                <li>
                    PitBull
                </li>
            </ul>
            <ul class="infoBaixo">
                <li>
                   Avaliação
                </li>
                <li>
                     Passeios
                    Realizados
                </li>
                <li>
                    Especialização
                </li>
            </ul>
    
        </div>
    </div> 

    <div class="retanguloFundo">
        <div class="circulo1"></div>
        <div class="circulo2"></div>
        <div class="imagemPerfil"></div>
        
        <div class="infoPasseador">
            <p>Amanda Krishna</p>
            <p></p>
            <p></p>
            <p></p>

            <p>EMAIL: amanda.miranda@ifsp.edu.br </p>
            <p>TELEFONE: (11)95784-6788 </p>
            
        </div>
        
    </div>



</body>
</html>