@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100..900&family=Kiwi+Maru&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.imagemFundo {
    background-image: url("../fotos/fundo.png");/*IMAGEM DO FUNDO DA TELA PRINCIPAL*/
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --cor-de-fundo: #F57536;
    --cor-fonte-destaque: #3C0A6D;
    --cor-secundaria: #DC4B04;
    --cor-texto: #FF9360;
    --cor-nova: #7b2cbf;
}

body {
    background-color: var(--cor-de-fundo);
   
}

.imagemfundo{
    display: flex;
    position: absolute;
    height: 600px;
    width: 100%;
    object-fit: fill;
    border-radius: 0,5%;
}

/*botões*/

nav {
    display: flex;
    justify-content:right;
    gap: 10px;
    margin: 20px;
    
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px 10px;
    align-items: center;
    font-family: Kodchasan;
    background-color: var(--cor-nova);
    border-radius: 50px;
    border: 0;
    box-shadow: #0000000d 0 0 8px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all .5s ease;
    text-align: center;
    outline: 0;
    color: white;
    margin-top: 10px;
    margin-right: 20px;

    
}

.titulo{
    font-family: 'Source Sans Pro', sans-serif;
  
    
}

nav:hover {
    letter-spacing: 3px;
    background-color: #3C0A6D;
    color: var(--cor-nova);
    box-shadow: #3C0A6D 0px 7px 29px 0px;
}

nav:active {
    letter-spacing: 3px;
    background-color: #3C0A6D;
    color: var(--cor-nova);
    box-shadow: #3C0A6D 0px 0px 0px 0px;
    transform: translate(10px);
    transition: 100ms;
}

/*imagem da pagina*/
.principal {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*titulo da pagina*/
h1 {
    /*font-family: Indie Flower;*/
    font-style: normal;
    font-weight: 302px;
    color: var(--cor-fonte-destaque);
    margin-top: 100px;
    font-size: 7rem;
    text-align: center;
}

/*retangulo*/
.container {
    display: grid; /* Define o container como grid */
    grid-template-columns: 1fr 1fr 1fr; /* Divide o container em três colunas iguais */
    gap: 10px; /* Adiciona espaçamento entre as colunas */
}

.coluna {
    padding: 75px; /* Adiciona espaçamento interno */
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--cor-secundaria);
    height: 42px;
    width: 42px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover p {
    transition: all 0.3s ease-out;
    color: var(--cor-texto);
}
.card1:hover h3 {
    transition: all 0.3s ease-out;
    color: var(--cor-texto);
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--cor-secundaria);
    border-radius: 0 4px 0 32px;
}

.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: var(--cor-texto);
    border-radius: 4px;
    padding: 70px 40px;
    margin: 50px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    height: 12rem;
    width: 10rem;
    font-size: 19px;
    text-align: center;
    font-family: Kodchasan;
}

h2 {
    color: #3C0A6D;
    font-size: 20px;
}

.card1:hover::before {
    transform: scale(21);
}

/*quadrado branco*/
.centralizar {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 80px;
}

.quadrado {
    background-color: #D9D9D9;
    color: #B467FF;
    font-family: Kodchasan;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 500px;
    flex-direction: column;
    border-radius: 70px;
    font-size: 25px;
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0 , 0, 0, 0.3) 0px 3px 7px -3px;
}

/*rodapé da pagina*/
footer {
    font-family: Kodchasan;
    color: white;
    background-color: #3C0A6D;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}