<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareDog</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- <img class = "imagemfundo" src = fotos/fundo.png></img>  -->
    <section class="principal">
        <section class="button">
            <nav>
                <form action="/loginPagina" id="loginPaginaID" method="post">
                    <button type="submit" id="loginButton">Login</button>
                </form>
                <form action="/CadastroPagina" id="CadastroPaginaID" method="post">
                    <button type="submit" id="CadastroButton">Sign Up</button>
                    <!--<a href="{{ url_for('CadastroPagina') }}">cadastro link</a>-->
                </form>
            </nav>
        </section>

        <div class="titulo">
            <h1>CareDog</h1>
        </div>
    </section>
    <div class="container">
        <div class="coluna">
            <a class="card1" href="#">
                <h2>Busca por Passeadores</h2>
                <p class="small"><br>Os tutores podem pesquisar e visualizar<br>os perfis dos prestadores.</p>
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="coluna">
            <a class="card1" href="#">
                <h2>Agendamento de passeios</h2>
                <p class="small"><br>Tutores podem agendar passeios com prestadores disponíveis.</p>
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="coluna">
            <a class="card1" href="#">
                <h2>Torne-se um passeador!</h2>
                <p class="small"><br>Cadastre-se e faça parte da equipe CareFriend!</p>
                <div class="go-corner" href="cadastro.html">
                    <div class="go-arrow">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="centralizar">
        <section class="quadrado">
            <h3>Seu cachorro merece o melhor<br>e nós daremos isso a ele!</h3>
            <p>
                O nosso objetivo é oferecer opções práticas e acessíveis<br>para facilitar o cuidado, a organização e a
                prestação de<br>serviço de qualidade para seus animais de estimação.
            </p>
        </section>
    </div>
    <footer>
        <a href="https://suporte.doghero.com.br/hc/pt-br" target="_blank" rel="noopener noreferrer">
            <p>Ajuda</p>
        </a>
        <a href="https://suporte.doghero.com.br/hc/pt-br/articles/16044472145179-Pol%C3%ADtica-de-Privacidade"
            target="_blank" rel="noopener noreferrer">
            <p>Política de Privacidade</p>
        </a>
        <a href="https://suporte.doghero.com.br/hc/pt-br/sections/16043964766875-Termos-e-Pol%C3%ADticas"
            target="_blank" rel="noopener noreferrer">
            <p>Termos de Uso</p>
        </a>
    </footer>
</body>

</html>